In [47]:
##GROCERY DATA CLASS 3
##TODAY, WE ARE GOING TO DEAL WITH THE VERY LARGE DATASET

In [48]:
##lOADING THE LIBRARIES
##Remember that the height of the tree is equal to the log base 2 (no_of_rows_in_sample_taken_to_construct_a_tree)

In [49]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [50]:
%matplotlib inline

In [51]:
##IMPORTING FASTAI LIBRARY

In [52]:
from fastai.imports import *  
from fastai.structured import *

In [53]:
##IMPORTING OTHER LIBRARIES

In [54]:
from sklearn.ensemble import RandomForestRegressor
from IPython.display import display
from sklearn import metrics

In [55]:
##NOW WE ARE GOING TO DEFINE THE DATATYPE OF EACH COLUMNS BECAUSE THE DATA IS TOO MUCH SO TO USE THE AVAILABLE MEMORY SPACE 
##EFFICIENTLY, WE ARE GOING TO RESTRICT THE SPACE USED BY THE DATA.

In [56]:
type = {'id' : 'int64',
       'iten_nbr' : 'int32',
       'store_nbr' : 'int8',
       'unit_sales' : 'float32',
       'onpromotion' : 'object'}

In [57]:
##Reading the training data

In [58]:
##This will tell you the time taken to run the following code

%time
d = pd.read_csv('data/grocery/train.csv', parse_dates = ['date'], dtype = type, infer_datetime_format=True)

Wall time: 0 ns

In [59]:
data = d.tail(5000000)

In [60]:
len(data)

5000000

In [61]:
##We are filling the missing values in onpromotion column and then mapping the data into true and 
##false, if the data is there then the value will be true and if not then it will be false and \
##then finally, converting it into bool datatype

In [62]:
data.onpromotion.fillna(False, inplace=True)
data.onpromotion = data.onpromotion.map({'False' : False, 'True' : True})
data.onpromotion = data.onpromotion.astype(bool)

C:\ProgramData\Anaconda2\envs\fastai\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\ProgramData\Anaconda2\envs\fastai\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [64]:
#%time data.to_feather('tmp/groceries')

In [65]:
#shuf we can make the use of shuf keyword in order to shuffle the data

In [66]:
%time data.describe(include='all')

Wall time: 3.12 s

,id,date,store_nbr,item_nbr,unit_sales,onpromotion
count,5.000000e+06,5000000,5.000000e+06,5.000000e+06,5.000000e+06,5000000
unique,NaN,48,NaN,NaN,NaN,2
top,NaN,2017-07-01 00:00:00,NaN,NaN,NaN,False
freq,NaN,118194,NaN,NaN,NaN,4407901
first,NaN,2017-06-29 00:00:00,NaN,NaN,NaN,NaN
last,NaN,2017-08-15 00:00:00,NaN,NaN,NaN,NaN
mean,1.229970e+08,NaN,2.842043e+01,1.170545e+06,8.109041e+00,NaN
std,1.443376e+06,NaN,1.632294e+01,5.869209e+05,2.379427e+01,NaN
min,1.204970e+08,NaN,1.000000e+00,9.699500e+04,-2.740000e+02,NaN
25%,1.217470e+08,NaN,1.400000e+01,6.921050e+05,2.000000e+00,NaN
50%,1.229970e+08,NaN,2.900000e+01,1.209721e+06,4.000000e+00,NaN
75%,1.242470e+08,NaN,4.400000e+01,1.576332e+06,8.000000e+00,NaN
max,1.254970e+08,NaN,5.400000e+01,2.127114e+06,7.348000e+03,NaN

In [67]:
##As we can see the data is around 1 million and the first data is 1/1/13 and the last data is 15/8/17. 
##So we have around 4 years of data just to train it. If someone want to sample out the data then he/she must take the 
##recent data from the training set (i.e. data from the bottom)

In [68]:
##Reading the testing data

In [70]:
%time
da = pd.read_csv('data/grocery/test.csv', parse_dates = ['date'], dtype = type, infer_datetime_format=True)

Wall time: 0 ns

In [71]:
datat = da.head(4000)

In [73]:
len(datat)

4000

In [74]:
datat.head()

          id       date  store_nbr  item_nbr onpromotion
0  125497040 2017-08-16          1     96995       False
1  125497041 2017-08-16          1     99197       False
2  125497042 2017-08-16          1    103501       False
3  125497043 2017-08-16          1    103520       False
4  125497044 2017-08-16          1    103665       False

In [75]:
##We are filling the missing values in onpromotion column and then mapping the data into true and 
##false, if the data is there then the value will be true and if not then it will be false and \
##then finally, converting it into bool datatype|

In [76]:
datat.onpromotion.fillna(False, inplace=True)
datat.onpromotion = datat.onpromotion.map({'False' : False, 'True' : True})
datat.onpromotion = datat.onpromotion.astype(bool)

In [77]:
datat.describe(include='all')

,id,date,store_nbr,item_nbr,onpromotion
count,4.000000e+03,4000,4000.000000,4.000000e+03,4000
unique,NaN,1,NaN,NaN,2
top,NaN,2017-08-16 00:00:00,NaN,NaN,False
freq,NaN,4000,NaN,NaN,3468
first,NaN,2017-08-16 00:00:00,NaN,NaN,NaN
last,NaN,2017-08-16 00:00:00,NaN,NaN,NaN
mean,1.254990e+08,NaN,1.024750,1.217160e+06,NaN
std,1.154845e+03,NaN,0.155382,6.078641e+05,NaN
min,1.254970e+08,NaN,1.000000,9.699500e+04,NaN
25%,1.254980e+08,NaN,1.000000,7.569358e+05,NaN
50%,1.254990e+08,NaN,1.000000,1.240073e+06,NaN
75%,1.255000e+08,NaN,1.000000,1.696040e+06,NaN
max,1.255010e+08,NaN,2.000000,2.134244e+06,NaN

In [78]:
##Here in the testing dataset the first date is 16/08/17 and the last is 31/08/17. So as we can see that we are going to 
##make the use of 4 years of data in order to train our model and test it for the next two week. The date should not be
##overlap between the training and testing data.

In [79]:
data.tail()

                  id       date  store_nbr  item_nbr  unit_sales  onpromotion
125497035  125497035 2017-08-15         54   2089339         4.0        False
125497036  125497036 2017-08-15         54   2106464         1.0         True
125497037  125497037 2017-08-15         54   2110456       192.0        False
125497038  125497038 2017-08-15         54   2113914       198.0         True
125497039  125497039 2017-08-15         54   2116416         2.0        False

In [80]:
##So again evaluation is based on the rmse values.

In [81]:
data.unit_sales = np.log1p(np.clip(data.unit_sales, 0, None))

In [82]:
data.tail()

                  id       date  store_nbr  item_nbr  unit_sales  onpromotion
125497035  125497035 2017-08-15         54   2089339    1.609438        False
125497036  125497036 2017-08-15         54   2106464    0.693147         True
125497037  125497037 2017-08-15         54   2110456    5.262690        False
125497038  125497038 2017-08-15         54   2113914    5.293305         True
125497039  125497039 2017-08-15         54   2116416    1.098612        False

In [83]:
##So it clearly visual that we have converted the dependent value i.e. is unit_sales is converted to the log plus 1 value.
##As stated in the competetion, we have also clip the data to greater then zero.

In [84]:
%time add_datepart(data, 'date')

C:\Users\PRIYANSHU SHARMA\Desktop\PRIYANSHU\FAST AI\fastai-master-gpu\courses\ml1\fastai\structured.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
C:\Users\PRIYANSHU SHARMA\Desktop\PRIYANSHU\FAST AI\fastai-master-gpu\courses\ml1\fastai\structured.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
C:\ProgramData\Anaconda2\envs\fastai\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

Wall time: 5.65 s

In [85]:
data.head()

,id,store_nbr,item_nbr,unit_sales,onpromotion,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
120497040,120497040,35,1162935,1.791759,False,2017,6,26,29,3,180,False,False,False,False,False,False,1498694400
120497041,120497041,35,1164290,0.693147,False,2017,6,26,29,3,180,False,False,False,False,False,False,1498694400
120497042,120497042,35,1165988,1.098612,False,2017,6,26,29,3,180,False,False,False,False,False,False,1498694400
120497043,120497043,35,1166474,3.931826,False,2017,6,26,29,3,180,False,False,False,False,False,False,1498694400
120497044,120497044,35,1166475,2.484907,False,2017,6,26,29,3,180,False,False,False,False,False,False,1498694400

In [89]:
##We are splitting the data into two - validation set and training set.

In [86]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

In [87]:
n_valid = len(datat)
n_trn = len(data) - n_valid
train, valid = split_vals(data, n_trn)
train.shape, valid.shape

((4996000, 18), (4000, 18))

In [88]:
##Now we are going to treat the missing values using the proc_df function and also going to seperate out the dependent variable
##from the dataset

In [121]:
%time X_train, y_train, nas = proc_df(train, 'unit_sales')
X_valid, y_valid, nas_val = proc_df(valid, 'unit_sales')

Wall time: 5.15 s

In [122]:
##To get the rmse value we are going to make the use of the following function

In [123]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [124]:
set_rf_samples(1_000_000)

In [125]:
##Since it is very difficult to make the tree of complete dataset, so we are going to randomly take 1_000_000 sample for the 
##further processing. And the training of amodel is not depend on the size of the dataset. It completly depends on the
##no_of_estimator and sample size.

In [126]:
%time x = np.array(trn, dtype=np.float32)

Wall time: 10.8 s

In [127]:
##This will convert the datatype to float32, which is done by every model again and again, so i did this by myself.
##So, that model won't do it again and again and i will save some time also.

In [128]:
m = RandomForestRegressor(n_estimators=20, min_samples_leaf=100, n_jobs=-1)

In [136]:
#%prun m.fit(x,y)
%time m.fit(X_train,y_train)

Wall time: 1min 5s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=100, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [137]:
##prun will tell u which line in the function take most time to run

In [138]:
print_score(m)

[0.7367707933430843, 0.744395530218384, 0.2815908748086588, 0.21202343682240588]

In [139]:
##Now to going to reduce the min sample size from 100 to 10

In [140]:
n = RandomForestRegressor(n_estimators=20, min_samples_leaf=10, n_jobs=-1)
%time n.fit(X_train, y_train)

Wall time: 1min 11s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=10, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [141]:
print_score(n)

[0.623844900166541, 0.6232625029476577, 0.4849370683694428, 0.44760748414968404]

In [142]:
##Now to going to reduce the min sample size from 100 to 10

In [143]:
o = RandomForestRegressor(n_estimators=20, min_samples_leaf=3, n_jobs=-1)
%time o.fit(X_train, y_train)

Wall time: 1min 25s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=3, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [144]:
print_score(o)

[0.5555148686656576, 0.590825264217571, 0.5915880769374655, 0.5036089954585516]

In [145]:
##Better Validation set much good Kaggle score. There exists a linear relationship between them.